node_modules
dist
.git
Dockerfile.app
Dockerfile.db
docker-compose.yaml
*.log
coverage
.env
*.md
test
tests
__tests__
*.spec.ts
*.test.ts
src/**/*.spec.ts
src/**/*.test.ts
jest.config.js
jest.config.ts